<div class="py-4 flex items-center justify-between bg-primary mx-auto w-full h-[81px] px-[200px]">
  <div class="flex items-center gap-4">
    <a class="text-white" routerLink="/"
      ><img [src]="logo" [attr.alt]="" loading="lazy" class="h-[32px]"
    /></a>
    <a class="text-white" routerLink="/">Home</a>
    <a routerLink="/search" class="text-white">Catalog</a>
    <a routerLink="/map" class="text-white">Map</a>
  </div>
  <div class="flex items-center gap-4">
    <span class="hidden sm:flex flex-col sm:flex-row gap-4">
      <a routerLink="/extras" class="text-white">Extras</a>
      <a routerLink="/settings" class="text-white">Settings</a>
    </span>
    <button
      type="button"
      class="cursor-pointer w-10 h-10 flex items-center justify-center rounded-full hover:bg-surface-400 dark:hover:bg-surface-800 transition-all text-white dark:text-surface-0 focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-surface-0 dark:focus-visible:ring-offset-surface-950"
    >
      <ng-icon name="faUser" />
    </button>

    <app-language-switcher />

    <!--          <button-->
    <!--            type="button"-->
    <!--            class="cursor-pointer w-10 h-10 flex items-center justify-center rounded-full hover:bg-surface-100 dark:hover:bg-surface-800 transition-all text-surface-900 dark:text-surface-0 focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-surface-0 dark:focus-visible:ring-offset-surface-950"-->
    <!--            (click)="toggleDarkMode()"-->
    <!--          >-->
    <!--            <i-->
    <!--              class="pi text-base"-->
    <!--              [ngClass]="{-->
    <!--                'pi-moon': isDarkMode(),-->
    <!--                'pi-sun': !isDarkMode()-->
    <!--              }"-->
    <!--            ></i>-->
    <!--          </button>-->
  </div>
</div>
