<div class="grid grid-cols-2 gap-4 m-6">
  <div
    appSearchContext="search1"
    [aggregations]="['resourceType']"
    [filter]="[{ query_string: { query: '+resourceType:dataset' } }]"
  >
    <h1>Search 1</h1>
    <app-search-input [scope]="'search1'" class="w-full"></app-search-input>
    <app-results-number [scope]="'search1'" class="font-semibold text-primary me-4 text-base" />
    <app-results-sorter [scope]="'search1'" />
    <app-results-view [scope]="'search1'" layout="grid" />
  </div>
  <div
    appSearchContext="search2"
    [aggregations]="['tag.default']"
    [filter]="[{ query_string: { query: '-resourceType:dataset' } }]"
  >
    <h1>Search 2</h1>
    <app-search-input [scope]="'search2'" class="w-full"></app-search-input>
    <app-results-number [scope]="'search2'" class="font-semibold text-primary me-4 text-base" />
    <app-results-sorter [scope]="'search2'" />
    <app-results-view [scope]="'search2'" layout="grid" />
  </div>
</div>
