@use 'tailwind.css';

:root {
  --app-font-family-sans: 'Inter', sans-serif;
}

@layer base {
  ul {
    @apply mb-4 ml-10 list-disc;
  }
  li {
    @apply text-gray-800;
  }
  p {
    @apply mb-4;
  }
  a:hover {
    @apply underline;
  }
}

* {
  font-family: var(--app-font-family-sans);
  font-optical-sizing: auto;
  font-style: normal;
}
