@use 'tailwind.css';

@layer base {
  ul {
    @apply mb-4 ml-10 list-disc;
  }
  li {
    @apply text-gray-800;
  }
  p {
    @apply mb-4;
  }
  a:hover {
    @apply underline;
  }
}

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
