<nav class="h-full">
  <ng-template #itemContent let-item>
    <div class="flex flex-row items-center py-2">
      @if (item.icon) {
        <ng-icon [name]="item.icon" class="md:text-2xl"></ng-icon>
      }
      <div
        class="overflow-hidden transition-all duration-300 whitespace-nowrap"
        [class.max-w-0]="isIconMode()"
        [class.opacity-0]="isIconMode()"
        [class.ml-0]="isIconMode()"
        [class.max-w-40]="!isIconMode()"
        [class.opacity-100]="!isIconMode()"
        [class.ml-2]="!isIconMode()"
      >
        <span>{{ item.label }}</span>
        @if (item.label === '') {
          <a routerLink="/">
            <img [src]="logo" alt="Logo" class="h-[26px] md:h-[36px]" />
          </a>
        }
      </div>
    </div>
  </ng-template>

  <p-menu
    [model]="items()"
    class="h-full"
    [pt]="{ root: '!min-w-fit h-full transition-all duration-300' }"
    [dt]="dt"
  >
    <ng-template pTemplate="start"> </ng-template>

    <ng-template pTemplate="item" let-item>
      @if (item.visible === undefined || item.visible) {
        @if (item.routerLink) {
          <a
            [routerLink]="item.routerLink"
            class="p-menu-item-link flex items-center"
            [routerLinkActive]="'p-menuitem-link-active'"
            [routerLinkActiveOptions]="item.routerLinkActiveOptions || { exact: false }"
            [fragment]="item.fragment"
            [queryParams]="item.queryParams"
            [queryParamsHandling]="item.queryParamsHandling"
            [preserveFragment]="item.preserveFragment"
            [skipLocationChange]="item.skipLocationChange"
            [replaceUrl]="item.replaceUrl"
            [state]="item.state"
          >
            <ng-container
              *ngTemplateOutlet="itemContent; context: { $implicit: item }"
            ></ng-container>
          </a>
        } @else {
          <a
            [attr.href]="item.url"
            class="p-menu-item-link flex items-center cursor-pointer"
            [target]="item.target"
            [attr.tabindex]="item.url ? null : '0'"
          >
            <ng-container
              *ngTemplateOutlet="itemContent; context: { $implicit: item }"
            ></ng-container>
          </a>
        }
      }
    </ng-template>

    <ng-template pTemplate="end">
      <div class="h-full flex flex-col gap-6 grow p-4"></div>
    </ng-template>
  </p-menu>

  <p-drawer [(visible)]="isConfigurationVisible" header="Configure" position="right">
    <p-fieldset legend="Language">
      <app-language-switcher />
    </p-fieldset>

    <p-fieldset legend="Theme">
      <app-theme-designer [theme]="theme" />
    </p-fieldset>
  </p-drawer>
</nav>
