<div class="flex flex-row w-full">
  <div class="flex flex-col w-full">
    <div
      class="sticky top-0 z-10 w-full bg-top-left bg-no-repeat bg-blend-overlay bg-primary/80 bg-cover bg-image header-row"
    >
      <div class="mx-auto max-w-7xl px-6 py-6 flex flex-row items-center lg:gap-2">
        <app-search-input
          class="w-full grow"
          [autocompleteEnabled]="true"
          [placeholder]="search | searchWelcomeTextPipe: 'resourceType' : 3"
        />

        @if (filterPanelMode() == 'drawer' || filterPanelMode() == 'side') {
          <app-search-active-filters-button [(visible)]="visible" />
        }
      </div>
    </div>

    <div class="mx-auto max-w-7xl w-full px-6 py-6 flex flex-col md:flex-row min-h-screen gap-6">
      <div class="w-full" [class.xl:px-[200px]]="filterPanelMode() === 'drawer'">
        @if (search.layout()) {
          <div class="mb-6">
            <app-results
              [layout]="search.layout()"
              (layoutChange)="search.setLayout($event)"
              [layoutOptions]="resultsLayoutOptions()"
            />
          </div>
          <app-results-view [layout]="search.layout()" />
        }
      </div>
    </div>
  </div>

  @switch (filterPanelMode()) {
    @case ('drawer') {
      <p-drawer
        [(visible)]="visible"
        [header]="'search.filter.title' | translate"
        [modal]="false"
        position="right"
        [pt]="{ header: 'header-row' }"
      >
        <app-search-filters />
      </p-drawer>
    }
    @case ('side') {
      <div
        class="w-full h-screen sticky top-0 self-start transition-all duration-300 ease-in-out min-w-0 max-w-[400px] border-primary-50 overflow-x-hidden"
        [ngClass]="
          visible
            ? 'sm:w-1/3 sm:opacity-100 border-l-2 shadow overflow-y-auto'
            : 'sm:w-0! sm:opacity-0 border-none shadow-none'
        "
      >
        <div class="p-drawer-header header-row">
          <div class="p-drawer-title text-primary-500">
            <ng-icon name="faSolidFilter"></ng-icon>
            {{ 'search.filter.title' | translate }}
          </div>
          <p-button (click)="visible = !visible" variant="text" rounded="true">
            <ng-icon name="faSolidXmark" pButtonIcon></ng-icon>
          </p-button>
        </div>
        <app-search-filters />
      </div>
    }
  }
</div>
