<section
  class="relative flex flex-col justify-center items-center bg-top-left bg-cover bg-blend-overlay bg-no-repeat bg-primary/80 bg-image"
>
  <div class="relative mx-auto max-w-screen-xl w-full px-5 py-12 text-center md:text-left">
    <h1
      class="text-white text-4xl sm:text-5xl md:text-6xl font-extrabold leading-tight max-w-2xl mx-auto md:mx-0"
    >
      {{ 'home.title' | translate }}
    </h1>

    <p class="text-white text-lg sm:text-xl md:text-2xl mt-4 mb-8 max-w-xl mx-auto md:mx-0">
      {{ 'home.subtitle' | translate }}
    </p>

    @if (search && search.totalCount() > 0) {
      <app-search-input
        (onSearch)="setRouteToSearch()"
        [searchOnInput]="false"
        [placeholder]="search | searchWelcomeTextPipe: 'resourceType' : 3"
        [autocompleteEnabled]="true"
      >
        <!--          [popOverTemplate]="popOverTemplate"

          <ng-template #popOverTemplate>
            <span>{{ 'search.input.popover.resourceType.title' | translate }}</span>
            <app-aggregation
              scope="home"
              keyName="resourceType"
              displayType="card"
              class="my-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6"
              (onSelected)="setRouteForAggregation($event)"
            ></app-aggregation>
          </ng-template>-->
      </app-search-input>
    }
  </div>
</section>
