<section
  class="relative flex flex-col justify-center items-center py-12 overflow-hidden bg-center bg-cover bg-blend-overlay bg-white/80"
  [style.background-image]="'url(' + bgSecond + ')'"
>
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-24 items-center max-w-screen-xl w-full px-6"
  >
    <div>
      <h2 class="text-primary text-4xl sm:text-5xl md:text-6xl font-extrabold mb-6">
        {{ 'home.secondTitle' | translate }}
      </h2>
      <p class="mb-8 text-base md:text-lg leading-relaxed">
        {{ 'home.secondSubtitle' | translate }}
      </p>
      <button pButton>
        <span pButtonLabel class="text-white bg-secondary">{{ 'home.button' | translate }}</span>
      </button>
    </div>

    <div class="flex justify-center">
      <img
        [src]="island"
        [attr.alt]="''"
        loading="lazy"
        class="w-72 sm:w-96 md:w-[467px] h-auto rounded-2xl"
      />
    </div>
  </div>

  <div class="flex flex-col justify-center max-w-screen-xl w-full px-6 mt-16 text-center">
    <h2 class="text-4xl sm:text-5xl md:text-6xl text-primary font-extrabold mb-10">
      {{ 'home.thirdTitle' | translate }}
    </h2>

    <app-aggregation
      scope="home"
      keyName="th_sextant-theme_tree.key"
      displayType="card"
      class="my-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6"
      (onSelected)="setRouteForAggregation($event)"
    ></app-aggregation>
  </div>
</section>
