<section
  class="relative flex flex-col justify-center items-center py-12 overflow-hidden bg-center bg-cover bg-blend-overlay bg-white/80 bg-image"
>
  <div class="flex flex-col justify-center max-w-screen-xl w-full px-6 mt-16 text-center">
    <h2 class="text-4xl sm:text-5xl md:text-6xl text-primary font-extrabold mb-10">
      {{ 'home.discover' | translate }}
    </h2>

    <app-aggregation
      scope="home"
      keyName="th_sextant-theme_tree.key"
      displayType="card"
      class="my-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6"
      (onSelected)="setRouteForAggregation($event)"
    ></app-aggregation>
  </div>
</section>
